@import "@/styles/variables.scss";

.card {
    color: $black;
    width: max-content;
    padding: 23px 38px;
    border-radius: 8px;
    border: 1px solid rgba(216, 75, 75, 0.3);
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    max-width: 485px;
    @media (max-width: $tabletSize) {
        width: 100%;
        padding: 28px 22px;
    }
}
.textBlock {
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
}
.text {
    text-align: center;
    margin-top: 9px;
}
.image {
    border-radius: 10px;
    background: lightgray -19.7px 0px / 121.214% 100% no-repeat;
    object-fit: cover;
    @media (max-width: $tabletSize) {
        width: 100%;
        height: auto;
    }
}
