$white: #fff;
$grey: #cbcbcb;
$red: #a10f0f;
$black: #161616;
$blue: #2267a7;
$yellow: #f4b91f;

$baseDynamicImageURL: "http://164.90.230.225/media/";

$tabletSize: 768px;
$mobileSize: 425px;

@mixin titleFont {
    font-family: "Unbounded";
}
@mixin bodyFont {
    font-family: "Inter";
}

@mixin pageWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}
@mixin pageContent {
    box-sizing: content-box;
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}
