@keyframes open {
  0% {
    background-position: 166% -25%, 220% -69%;
  }
  100% {
    background-position: 120% -5%, 200% -40%;
  }
}

.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.photo-upload {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#photo-upload::placeholder {
  color: #bebebe;
}
.name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
  max-width: 220px;
  overflow-wrap: break-word;
}
.status {
  text-align: center;
  max-width: 220px;
  overflow-wrap: break-word;
}

.save {
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 20px;
  box-shadow: 20px 0px 40px 0px #63d3a6;
}
.edit {
  color: #fff;
  width: 180px;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.fa-instagram {
  position: absolute;
  color: #79f1a4;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.fa-instagram:hover {
  font-size: 42px;
  color: #caff81;
  transition: all 0.1s linear;
  cursor: pointer;
}
.add-photo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 166px;
  background-color: #eee;
  color: #999;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
