@import "@/styles/variables.scss";

.TopContainer {
    @include pageWrapper;
    background-color: $black;
    background: url("../../../../../../public//images//banners//Frame1501.png")
        center center/100% 100% no-repeat;
    background-size: cover;

    @media (max-width: $tabletSize) {
        background: url("../../../../../../public//images//banners//Frame1501.png")
            center center/100% 100% no-repeat;
        background-size: cover;
    }
}
.TopContent {
    @include pageContent;
    padding: 167px 16px 225px 16px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    @media (max-width: $tabletSize) {
        padding: 152px 16px 203px 16px;
        gap: 62px;
    }
}
.viewsBlock {
    display: flex;
    align-items: center;
    gap: 6px;
}
.BottomContainer {
    @include pageWrapper;
    background-color: $white;
    color: $black;
    @media (max-width: $tabletSize) {
    }
}
.BottomContent {
    @include pageContent;
    padding-top: 64px;
    padding-bottom: 64px;
    @media (max-width: $tabletSize) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
.btn {
    margin-top: 42px;
}
