@import "@/styles/variables";

.textarea {
  display: flex;
  min-height: 80px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #dedede;
  background: #fff;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  color: $black;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:focus {
    border: 1px solid #818181;
  }
}
