@import "@/styles/variables";

.container {
  @include pageWrapper;
  overflow: hidden;
  position: relative;
  margin-bottom: 125px;
  margin-top: 130px;

  @media (max-width: $tabletSize) {
    margin-top: 65px;
  }
}
.content {
  @include pageContent;
  overflow: visible;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.title {
  margin-bottom: 36px;
}

.DesctpopSliderWrapper {
  width: 100%;
  display: block;
  overflow: visible;
  @media (max-width: $tabletSize) {
    display: none;
  }
}

.slide {
  padding: 0 11px;
  box-sizing: border-box;
}
.slideContent {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
}
.slideImage {
  border-radius: 10px;
  object-fit: cover;
  height: 214px;
}
.slideContent {
  position: relative;
  z-index: 4;
}
.learnMoreBtn {
  border-radius: 15px;
  border: 2px solid #7a1314;
  background: rgba(217, 217, 217, 0);
  padding: 10px 32px;
  align-self: flex-end;
  margin-top: auto;
}
