.head {
    display: flex;
    justify-content: space-between;
    max-width: 1008px;
    width: 100%;
    margin-bottom: 42px;
    align-items: center;

    &Status {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}
