.table {
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 200px;
    align-items: center;
  }
  .titleRow {
    display: flex;
    width: 100%;
    p {
      min-width: 306px;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 19px 14px;
      border: 1px solid #e0e0e0;
      color: #FFF;

      &:last-of-type {
        min-width: 486px;
      }
    }
  }
  .message {
    margin-top: 50px;
    font-size: 42px;
    color: #e0e0e0;
  }
  